$white:          #ffffff;
$gray-base:      #080808;
$gray-darker:    #3c3c3c;
$gray-dark:      #808080;
$gray:           #cfcfcf;
$gray-light:     #e3e3e3;
$gray-lighter:   #e9ebee;

$brand-primary:  #bedc24;

$padding-base:   16px;
$margin-base:    16px;
