* {
  font-family: 'Open Sans', sans-serif;
}

header {
  padding: 16px;
  background-color: #0063be;
  color: #fff;
  font-size: medium;
}

h1 {
  text-align: center;
  color: #3c3c3c;
  font-style: italic;
}
